@use "./pages/_home.scss";
@use "./pages/_tour.scss";
// @use "./pages/_pictures.scss";
// @use "./pages/_the-band.scss";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Rock+Salt&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
