@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Rock+Salt&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes goRight {
  from {
    left: 100%;
  }
  to {
    left: 0px;
  }
}
header {
  /* TOP BAR BJÆLKE */
}
header .header-content {
  justify-content: center;
  text-align: center;
  height: 167px;
}
header .header-content h1 {
  width: 100%;
  padding-top: 30px;
  font-size: 2rem;
  font-family: "Rock Salt", cursive;
  text-transform: capitalize;
}
header .header-content video {
  width: 125px;
  aspect-ratio: 1/1;
  border: none;
  position: absolute;
  left: 0;
  top: 104px;
}
@media (min-width: 768px) {
  header .header-content video {
    left: 50%;
    transform: translatex(-50%);
  }
}
header .black-banner {
  width: 100%;
  margin-top: -0.5px;
  height: 65px;
  background-color: #0d0f0e;
}
header .black-banner ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translatey(-50%);
  padding: 0 30px;
}
header .black-banner ul li {
  list-style: none;
}
header .black-banner ul li a {
  color: #fcfcfc;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
header .black-banner ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #fcfcfc;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: right;
  transition: scale 0.5s;
}
header .black-banner ul li a:hover::before {
  scale: 1;
  transform-origin: left;
}
header .black-banner ul li a {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fcfcfc;
}
@media (max-width: 768px) {
  header .black-banner ul {
    display: none;
  }
}

/* menu bar circle */
.menu-bar {
  position: fixed;
  bottom: 8px;
  right: 8px;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #0d0f0e;
  z-index: 1000;
}
@media (min-width: 768px) {
  .menu-bar {
    display: none;
  }
}
.menu-bar #bg-wrapper {
  padding: 5px;
  cursor: pointer;
  /* lines in burgermenu */
}
.menu-bar #bg-wrapper .bg {
  display: block;
  width: 50px;
  height: 5px;
  background: #fcfcfc;
  margin: 8px auto;
  border-radius: 50px;
  transition: all 0.7s ease;
}
.menu-bar #bg-wrapper #line1.bg1-active {
  transform: translateY(15px) rotateZ(45deg);
}
.menu-bar #bg-wrapper #line2.bg2-active {
  opacity: 0;
}
.menu-bar #bg-wrapper #line3.bg3-active {
  transform: translateY(-15px) rotateZ(-45deg);
}

/* menu when clicked in mobil view  */
.menu {
  position: fixed;
  top: 230px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0d0f0e;
  animation: goRight 1s;
  animation-timing-function: ease-in-out;
  z-index: 999;
}
.menu .innerMenu {
  width: 100%;
  height: 100vh;
  margin: 2rem auto;
}
.menu .innerMenu ul {
  display: block;
}
.menu .innerMenu ul li {
  list-style: none;
  padding: 0.8rem;
  text-align: center;
}
.menu .innerMenu ul li a {
  color: #fcfcfc;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.menu .innerMenu ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #fcfcfc;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: right;
  transition: scale 0.5s;
}
.menu .innerMenu ul li a:hover::before {
  scale: 1;
  transform-origin: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

main .parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-image: url("../images/images/pexels-brett-sayles-1309240.jpg");
}
main .parallax div {
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
}
main .parallax div span {
  width: 100%;
  padding-top: 30px;
  font-size: 2rem;
  font-family: "Rock Salt", cursive;
  text-transform: capitalize;
  background-color: rgba(13, 15, 14, 0.7);
  color: #fcfcfc;
  padding: 18px;
  font-size: 10px;
  letter-spacing: 10px;
}
main .parallax2 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  background-image: url("../images/images/pexels-oleg-magni-1813124.jpg");
}
main .parallax3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  background-image: url("../images/images/pexels-jc-siller-8634867.jpg");
}
main .parallax4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  background-image: url("../images/images/pexels-josh-sorenson-995301.jpg");
}
main h2 {
  width: 100%;
  padding-top: 30px;
  font-size: 2rem;
  font-family: "Rock Salt", cursive;
  text-transform: capitalize;
  justify-content: center;
  text-align: center;
}
main .slider {
  width: 1300px;
  max-width: 100vw;
  height: 350px;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}
main .slider .list {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
main .slider .list img {
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
main .slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
main .slider .dots li.active {
  width: 30px;
}
@media (min-width: 768px) {
  main .slider {
    height: 400px;
  }
}

.tour-section {
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 160px;
  background-color: #0d0f0e;
}
.tour-section a {
  text-decoration: none;
  color: #fcfcfc;
}
.tour-section a h3 {
  width: 100%;
  padding-top: 30px;
  font-size: 2rem;
  font-family: "Rock Salt", cursive;
  text-transform: capitalize;
}

.newsletter-wrapper {
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 100%;
  margin: 20px;
}
.newsletter-wrapper .inner-newsletter-container {
  width: 60%;
  margin: auto;
  flex-direction: row;
  border-radius: 12px;
  background-color: #313a41;
}
.newsletter-wrapper .inner-newsletter-container h3 {
  font-family: "Roboto", sans-serif;
  color: #0d0f0e;
  font-weight: 300;
  color: #fcfcfc;
  font-size: 2rem;
  letter-spacing: 5px;
  padding: 50px 0 20px;
}
.newsletter-wrapper .inner-newsletter-container input[type=text],
.newsletter-wrapper .inner-newsletter-container [type=email] {
  border-style: none none solid none;
  border-color: #fcfcfc;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #313a41;
  color: #fcfcfc;
}
.newsletter-wrapper .inner-newsletter-container input[type=text]:focus,
.newsletter-wrapper .inner-newsletter-container [type=email]:focus {
  outline: none;
}
.newsletter-wrapper .inner-newsletter-container input[type=text]::-moz-placeholder, .newsletter-wrapper .inner-newsletter-container [type=email]::-moz-placeholder {
  color: #fcfcfc;
}
.newsletter-wrapper .inner-newsletter-container input[type=text]::placeholder,
.newsletter-wrapper .inner-newsletter-container [type=email]::placeholder {
  color: #fcfcfc;
}
.newsletter-wrapper .inner-newsletter-container input[type=button] {
  background-color: #fcfcfc;
  padding: 10px 20px;
  border: none;
  width: 80%;
  margin: 20px;
  border-radius: 50px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .newsletter-wrapper div {
    width: 50%;
  }
}

footer {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: cener;
  color: #fcfcfc;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  width: 100%;
  height: 100px;
  background-color: #0d0f0e;
}
footer a {
  color: #fcfcfc;
  font-size: 1.5rem;
}/*# sourceMappingURL=main-stylesheet.css.map */